{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title> Login BRMapp </title>
		<link rel="stylesheet" href="{% static 'css/BRMstyle.css'%}">
	</head>
	<body>
		<div id="header">
			<h1>Book Record Management</h1>
			<div id="nav">
				<a href="/BRMapp/view-books">View All</a>
				<a href="/BRMapp/new-book">Add New</a>
				<a href="/BRMapp/search-book">Search</a>
				<a href="/BRMapp/logout">Logout</a>
			</div>
		</div>
		<div id="main">
			<form method="post">
				{% csrf_token %}
				<table>
					<tr>
						<td><label for="username">Username</label></td>
						<td><input type="text" name="username" id="username"></td>
					</tr>
					<tr>
						<td><label for="password">Password</label></td>
						<td><input type="password" name="password" id="password"></td>
					</tr>
					<tr>
						<td><input type="submit" value="Login"></td>
					</tr>
				</table>
			</form>
			<p>{{error}}</p>
		</div>
	</body>
</html>
